<h4 class='posts'>Popular Questions</h4>

<ul class='posts'>
	<% posts.each(function(post) { %>
		<li>
			<a href="#/post/<%= post.get("id") %>">
				<%= post.escape('title') %><br>
				Written by: <%= post.escape('author')%>
			</a>
		</li>
	<% }) %>
</ul>

<button id='refresh'>Refresh</button><br>

<a href='#/posts/new'>Create a new post</a>