<h4 class='posts'>Posted Questions</h4>
<a class='links' href='#/posts/new'>Create a new question</a>

<ul class='posts'>
	<% posts.each(function(post) { %>
		<li>
			<a href="#/post/<%= post.get("id") %>">
				<%= post.escape('title') %><br>
				Written by: <%= post.escape('author')%>
			</a>
		</li>
	<% }) %>
</ul>

